@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #000000;
}

#tentacles {
    width: 50px;
}

.header {
    background-color: lightblue;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    position: fixed;
    text-align: center;
    text-shadow: red 2px 5px;
    font-size: 50px;
    top: 0;
    width: 100%;
    transition: top 0.3s; /* Transition effect */
}

a {
  text-decoration: none;
  color: black;
}

.navigation{
    text-align: center;
    font-size: 25px;
    color:#000000;
    text-shadow: rgb(255, 255, 255) 2px 5px;
}

.intro {
    color:#FFFFFF;
    font-size: 30px;
    text-align: center;
}

.section-header{
    color:#FFFFFF;
    font-size: 50px;
    text-shadow: #fc0 1px 0 10px;
    text-align: center;
}


.stats-container {
    display: flex;
    background-color: #b16dc2;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 30px lightblue;
    font-size: 30px;
    text-shadow: rgb(72, 255, 0) 1px 0 10px;
    
}

.stats-card {
    background-color: #000000;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    color:#FFFFFF
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 100px rgb(6, 60, 177);
}

.button-style {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
}

.button-style:hover {
    box-shadow: 0 0px 100px #b16dc2;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 20px;
}